body {
    margin: 0;
    padding: 0;
    font-family: 'Neuton';
    background: url('road.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.486);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px; 
    backdrop-filter: blur(5px);
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.car-icon {
    font-size: 30px;
    margin-right: 10px;
    color: #ff8c42;
}

.logo h1 {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #060606;
    font-weight: normal;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.login-button {
    width: 50%;
    padding: 15px;
    background-color: #ff8c00; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #e57e00; 
}

.error-msg {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 14px;
}